.component{
	box-shadow: 2px 2px 5px #888888;
	background-color:white;
	border-radius:5px;
	margin:2px;
	padding:5px;
}
body{
	background-color:#f7f6f7;
}
.jumbotron{
	/*background-color:#b5b7d8;*/
	box-shadow: 2px 2px 5px #888888;
}